<!DOCTYPE html>
<html lang="en">
  <body>
	<div id="lexcontainer"> </div>     
  </body>
  <script src="https://unilever--cgdev.cs85.my.salesforce.com/lightning/lightning.out.js"></script>
  <script type="text/javascript" src="lib/jquery.js">  </script>
  <script type="text/javascript" src="lib/jqueryCookies.js"> </script>   

<script> 
var _lightningReady = false;
if(!$.cookie("AccToken"))
{ 
    alert("Login to Salesforce First!!!");
}else{
	createChatterFeed('NEWS');
}



function setupLightning(callback) {
	var appName = "c:LightningOutDemo";
	 

	if (_lightningReady) {
		if (typeof callback === "function") {
			callback();
		}
	} else {
	    // Transform the URL for Lightning
	    var url = $.cookie("InstURL");
		url = url.replace("cs85.my.salesforce", "lightning.force");

	    $Lightning.use(appName, 
	        function() {
				_lightningReady = true;
				document.getElementById("lexcontainer").style.display = "";
				if (typeof callback === "function") {
					callback();
				}
	        }, url, $.cookie("AccToken"));
	}
}

function createChatterFeed(type, subjectId) {
    setupLightning(function() {
		$Lightning.createComponent(
		"c:CEC_ContactUsFormMain", 
		{
			type: type,
			subjectId: subjectId,
			brand: "knorr",
            locale: "en-gb"
		}, 
		"lexcontainer");
    });
}

</script>


 <style type="text/css"> 
 
     html,body{width:100%;height:100%;} 
	 
	.slds-scope:not(html), .slds-scope body, .slds-media__body, .forceChatterStyle .cuf-preamble, .cuf-subPreamble .slds-text-body--small, .slds-post__footer {
		font-size: 1.0rem !important; 
	}	 
 </style>
</html> 
